In [68]:
import pandas as pd
%pylab inline
data = pd.read_csv('D:\WORK\Airplane_Crashes_and_Fatalities_Since_1908.csv')

Populating the interactive namespace from numpy and matplotlib

In [69]:
data.head()

,Date,Time,Location,Operator,Flight #,Route,Type,Registration,cn/In,Aboard,Fatalities,Ground,Summary
0,09/17/1908,17:18,"Fort Myer, Virginia",Military - U.S. Army,NaN,Demonstration,Wright Flyer III,NaN,1,2.0,1.0,0.0,"During a demonstration flight, a U.S. Army fly..."
1,07/12/1912,06:30,"AtlantiCity, New Jersey",Military - U.S. Navy,NaN,Test flight,Dirigible,NaN,NaN,5.0,5.0,0.0,First U.S. dirigible Akron exploded just offsh...
2,08/06/1913,NaN,"Victoria, British Columbia, Canada",Private,-,NaN,Curtiss seaplane,NaN,NaN,1.0,1.0,0.0,The first fatal airplane accident in Canada oc...
3,09/09/1913,18:30,Over the North Sea,Military - German Navy,NaN,NaN,Zeppelin L-1 (airship),NaN,NaN,20.0,14.0,0.0,The airship flew into a thunderstorm and encou...
4,10/17/1913,10:30,"Near Johannisthal, Germany",Military - German Navy,NaN,NaN,Zeppelin L-2 (airship),NaN,NaN,30.0,30.0,0.0,Hydrogen gas which was being vented was sucked...

In [70]:
data.Location.value_counts()

Sao Paulo, Brazil                                       15
Moscow, Russia                                          15
Rio de Janeiro, Brazil                                  14
Bogota, Colombia                                        13
Manila, Philippines                                     13
Anchorage, Alaska                                       13
Cairo, Egypt                                            12
New York, New York                                      12
Chicago, Illinois                                       11
AtlantiOcean                                             9
Tehran, Iran                                             9
Near Moscow, Russia                                      9
Amsterdam, Netherlands                                   8
Rome, Italy                                              8
Ankara, Turkey                                           8
Paris, France                                            8
Denver, Colorado                                         8
Guatemala City, Guatemala                                7
Bucharest, Romania                                       7
Cleveland, Ohio                                          7
Near Medellin, Colombia                                  7
Burbank, California                                      7
London, England                                          7
Kunming, China                                           7
Newark, New Jersey                                       6
New Delhi, India                                         6
Grand Canyon, Arizona                                    6
Detroit, Michigan                                        6
Near La Paz, Bolivia                                     6
San Juan, Puerto Rico                                    6
                                                        ..
Cape Spencer, Alaska                                     1
Near Colorado Springs, Colorado                          1
Yerevan, Armenia                                         1
En route from Argentina  to  California                  1
Near Oslo, Norway                                        1
Rocky Mountain Nat. Park, near Ft. Collins, Colorado     1
Near Leadville, Colorado                                 1
Siuna, Nicaragua                                         1
Near Bilma, Niger                                        1
Friday Harbor, Washington                                1
Nantucket, Massachusett                                  1
Valley, Nebraska                                         1
Terrace, BC, Canada                                      1
Near Long Tieng, Laos                                    1
Iwakuni, Japan                                           1
Near Ipiales, Colombia                                   1
Daggett, California                                      1
Medford, New Jersey                                      1
Kokoda, Papua New Guinea                                 1
Near Fairfield, California                               1
East Falmouth, Massachusetts                             1
Kurupung, Guyana                                         1
Near Nador, Morroco                                      1
Near Kupang, Timor                                       1
Boende, Congo                                            1
Off Puerto Rico                                          1
Near An tung, Taiwan                                     1
Gulf of Thailand                                         1
San Andres Island, Colombia                              1
Ramsgate, England                                        1
Name: Location, dtype: int64

In [71]:
data.Operator.value_counts()

Aeroflot                                      179
Military - U.S. Air Force                     176
Air France                                     70
Deutsche Lufthansa                             65
Air Taxi                                       44
United Air Lines                               44
China National Aviation Corporation            44
Military - U.S. Army Air Forces                43
Pan American World Airways                     41
Military - Royal Air Force                     36
US Aerial Mail Service                         36
American Airlines                              36
Military - U.S. Navy                           36
Indian Airlines                                34
Philippine Air Lines                           33
KLM Royal Dutch Airlines                       33
Private                                        31
Aeropostale                                    26
Northwest Orient Airlines                      25
Eastern Air Lines                              25
British Overseas Airways                       25
AVIANCA                                        24
Sabena                                         24
Military - U.S. Army                           23
Imperial Airways                               22
Military -Royal Air Force                      22
Garuda Indonesia Airlines                      19
British European Airways                       18
Trans Continental and Western Air              18
VASP                                           18
                                             ...
Southeast Airlines                              1
Corporate Air - Air Taxi                        1
Atran                                           1
Air Taxi - Paramount Aviation Corp.             1
Military - Argentine Navy                       1
Air Turks & Caicos                              1
Partnair                                        1
Walker - Watts Aviation - Air Taxi              1
North PacifiAirlines                            1
Military - Government of Equatorial Guinea      1
Liard Air                                       1
Alva Aircraft Service - Taxi                    1
Aeroflot / Soviet Air Force                     1
Air Karibu                                      1
Mililtary - Soviet Air Force                    1
Cessnyca                                        1
Avanti Aviation -Air Taxi                       1
Aerovias Cuba International                     1
Wyoming Air Service                             1
Fuerza Aérea Uruguaya                           1
AVENSA                                          1
Lackey Aero Company - Taxi                      1
Skyways                                         1
Dirgantara Air Service                          1
Toa DomestiAirline (Japan)                      1
Lloyd Aereo Colombiano                          1
STAAP                                           1
Provincial Airlines                             1
LANC Colombia                                   1
Dwyer Flying Service - Private Charter          1
Name: Operator, dtype: int64

In [72]:
US = data[data.Operator == 'Military - U.S. Air Force']
US.head()

,Date,Time,Location,Operator,Flight #,Route,Type,Registration,cn/In,Aboard,Fatalities,Ground,Summary
622,08/07/1943,05:20,"Off Townsville, Australia",Military - U.S. Air Force,NaN,Townsville - Brisbane,Douglas C-47-DL,41-7733,4212,27.0,27.0,0.0,Crashed into the ocean.
637,12/19/1943,09:20,"Canal Creek, Australia",Military - U.S. Air Force,NaN,NaN,Douglas C-47A-60-DL,43-30742,13893,31.0,31.0,0.0,NaN
662,08/23/1944,10:45,"Freckelton, England",Military - U.S. Air Force,NaN,NaN,Consolidated B-24H,42-50291,NaN,3.0,3.0,58.0,The bomber crashed into a school and a cafe wh...
670,06/30/1945,NaN,Texas,Military - U.S. Air Force,NaN,NaN,Boeing TB-29A Super Fortress,44-69943,NaN,12.0,12.0,0.0,NaN
700,03/27/1945,NaN,"Coral Sea, off Australia",Military - U.S. Air Force,NaN,NaN,Douglas C-47A-90-DL,43-16011,20477,24.0,24.0,0.0,Disappeared en route.

In [73]:
(data.Summary == 'Disappeared en route.').value_counts()

False    5266
True        2
Name: Summary, dtype: int64

In [74]:
data.Date.describe()

count           5268
unique          4753
top       06/18/1972
freq               4
Name: Date, dtype: object

In [75]:
1972-1908

64

In [76]:
#pd.to_datetime(data.Date,format='%Y', errors='ignore')

data['year'] = data['date'].dt.year

KeyError: 'date'

In [ ]:
data.head()

In [ ]:
data[((data.year>=1913)&(data.year <=1918))|((data.year>=1939)&(data.year <=1945))].describe()

In [ ]:
data.year.value_counts()

In [ ]:
data.head()

In [78]:
data[data.Ground.isnull()]
data = data.dropna(axis=0)
data.head()

,Date,Time,Location,Operator,Flight #,Route,Type,Registration,cn/In,Aboard,Fatalities,Ground,Summary
208,01/19/1930,18:23,"Oceanside, California",Maddux Airlines,7,"Aqua Caliente, Mexico - Los Angeles",Ford 5-AT-C Tri Motor,NC9689,5-AT-046,16.0,16.0,0.0,"While en route to Los Angeles, the pilot, flyi..."
236,03/31/1931,10:45,"Bazaar, Kansas",Trans Continental and Western Air,599,Kansas City - Wichita - Los Angeles,Fokker F10A Trimotor,NC-999,1063,8.0,8.0,0.0,"Shortly after taking off from Kansas City, one..."
334,08/31/1934,23:42,"Amazonia, Missouri",Rapid Air Transport,6,Omaha - St. Joseph,Stinson SM-6000B,NC10809,5004,5.0,5.0,0.0,The plane crashed about 11 miles from St. Jose...
354,05/06/1935,03:30,"Atlanta, Missouri",Trans Continental and Western Air,6,Los Angeles - Albuquerque - Kanasas City - Wa...,Douglas DC-2-112,NC13785,1295,14.0,5.0,0.0,The plane crashed while en route from Albuquer...
365,08/14/1935,23:45,"Near Gilmer, Texas",Delta Air Lines,4,Dallas - Atlanta,Stinson Model A,NC14599,9103,4.0,4.0,0.0,Crashed 3 miles south of Gilmer. The outboard ...

In [79]:
x = pd.DataFrame()
y = pd.DataFrame()

x['aboard'] = data.Aboard
x['ground'] = data.Ground

y['death'] = data.Fatalities

In [94]:
x.head()

     aboard  ground
208    16.0     0.0
236     8.0     0.0
334     5.0     0.0
354    14.0     0.0
365     4.0     0.0

In [80]:
from sklearn.cross_validation import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression

In [81]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2,random_state = 42)

In [82]:
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((755, 2), (189, 2), (755, 1), (189, 1))

In [83]:
model = LogisticRegression(penalty = 'l2',C=1)

In [84]:
model.fit(x_train,y_train)

C:\Users\panne\Anaconda2\envs\gl-env\lib\site-packages\sklearn\utils\validation.py:515: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [85]:
accuracy_score(y_test,model.predict(x_test))

0.063492063492063489

In [90]:
#as seen the accuracy is only 6 % percentage